.organism-user-login
  min-width 160px

.organism-user-login [class^="atom-input-"],
.organism-user-login [class*=" atom-input-"],
.organism-user-login [class^="atom-button-"],
.organism-user-login [class^="atom-button-"]
  margin 0 0 5px 0


@media (max-width: 300px)
  .organism-user-login .molecule-social-buttons [class^="atom-button-"]
  .organism-user-login .molecule-social-buttons [class*=" atom-button-"]
      font-size 0px

  .organism-user-login .molecule-social-buttons [class^="atom-button-"]:before
  .organism-user-login .molecule-social-buttons [class*=" atom-button-"]:before
      font-size 26px
      vertical-align top