@font-face {
  font-family: github;
  src: url("assets/icons/github.eot?-lzukky");
  src: url("assets/icons/github.eot?#iefix-lzukky") format('embedded-opentype'), url("assets/icons/github.woff?-lzukky") format('woff'), url("assets/icons/github.ttf?-lzukky") format('truetype'), url("assets/icons/github.svg?-lzukky#github") format('svg');
  font-weight: normal;
  font-style: normal;
}
.atom-button-github {
  display: inline-block;
  float: left;
  padding: 10px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #d6d6d6;
  border: 0;
  font-weight: lighter;
  cursor: pointer;
  min-width: 160px;
  background: #f6f6f6;
  color: #333;
  font-size: 18px;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.atom-button-github:before {
  content: '\e600';
  font-family: github;
  margin: 0 5px;
  vertical-align: baseline;
}
