.molecule-social-buttons [class^="atom-button-"],
.molecule-social-buttons [class*=" atom-button-"] {
  width: 33.3%;
  min-width: 33.3%;
}
@media (max-width: 480px) {
  .molecule-social-buttons {
    min-width: 160px;
  }
  .molecule-social-buttons [class^="atom-button-"],
  .molecule-social-buttons [class*=" atom-button-"] {
    width: 33.3%;
    min-width: 33.3%;
    font-size: 0px;
    line-height: 100%;
  }
  .molecule-social-buttons [class^="atom-button-"]:before,
  .molecule-social-buttons [class*=" atom-button-"]:before {
    font-size: 26px;
    vertical-align: top;
  }
}
