.atom-button-save {
  display: inline-block;
  float: left;
  padding: 10px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #d6d6d6;
  border: 0;
  font-weight: lighter;
  cursor: pointer;
  min-width: 160px;
  background: #019c58;
  color: #fff;
  font-size: 18px;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
