@import '../index.styl'

@font-face
  font-family gplus
  src: url('assets/icons/gplus.eot?-lzukky');
  src: url('assets/icons/gplus.eot?#iefix-lzukky') format('embedded-opentype'),
     url('assets/icons/gplus.woff?-lzukky') format('woff'),
     url('assets/icons/gplus.ttf?-lzukky') format('truetype'),
     url('assets/icons/gplus.svg?-lzukky#gplus') format('svg');
  font-weight normal
  font-style normal

.atom-button-gplus
  atom-button()
  background #D73D32
  color #FFF
  font-size 18px
  font-family helvetica
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.atom-button-gplus:before
  content '\e600'
  font-family gplus
  margin 0 5px
  vertical-align baseline