@import '../index.styl'

.atom-button-save
  atom-button()
  background atom-button-save-background
  color #FFF
  font-size 18px
  font-family helvetica
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;