@require '../index.styl'

atom-input()
  atom-create(bg-input, 10px, 40px)
  border 1px solid #CCCCCC
  box-shadow inset 1px 1px 5px rgba(0,0,0, 0.1)
  box-sizing border-box
  font-size 14px
  font-weight lighter
  font-family helvetica
  color #555555