.atom-input-email {
  display: inline-block;
  float: left;
  padding: 10px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: lighter;
  font-family: helvetica;
  color: #555;
}
